{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<div class="formularios">
    <!-- Container com a classe 'formularios'. -->
    <div class="card-body">
        <h3 class="card-title text-center">Confirmar Exclusão de Conta</h3>
        <form method="post">
            <h4>Olá, {{ request.user.nome }}!</h4>
            <h4>Tem certeza de que deseja excluir sua conta? Esta ação não pode ser desfeita e todas as suas fichas
                serão
                excluídas.
            </h4>
            {% csrf_token %}
            <div class="btn-group" role="group" aria-label="Botões de ação" style="margin-top: 20px;">
                <button type="submit" class="btn btn-primary" style="text-align: justify; margin-right: 10px;">Sim, excluir minha
                    conta</button>
                <a href="{% url 'home' %}" class="btn btn-primary">Cancelar</a>
            </div>

        </form>
    </div>
</div>
{% endblock %}