{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}
<!-- Bloco de conteúdo que estende o modelo base.html. -->
<div class=" formscentral">
    <div class="formularios">
        <!-- Container com a classe 'formularios'. -->


            <h4 class="card-title text-center">Registro</h4>
            <!-- Título da página de registro. -->

            <form method="post">
                <!-- Formulário com método 'post'. -->
                {% csrf_token %}
                <!-- Token de segurança CSRF. -->
                {{ form|crispy }}
                <!-- Renderização do formulário usando o filtro Crispy Forms. -->
                <button type="submit" class="botao">Registrar</button>
                <!-- Botão de submissão do formulário com classe 'botao'. -->
            </form>

    </div>
</div>
<!-- Fim do bloco de conteúdo. -->
{% endblock %}