{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}
<!-- Bloco de conteúdo que estende o modelo base.html. -->

<div class="formularios">
    <!-- Container com a classe 'formularios'. -->

    <div class="card-body">
        <!-- Container para a seção de formulários com a classe 'card-body'. -->

        <h4 class="card-title text-center">Faça o Login</h4>
        <!-- Título do formulário. -->

        <form method="post" class="auth-form">
            <!-- Formulário com método 'post' e classe 'auth-form'. -->
            {% csrf_token %}
            <!-- Token de segurança CSRF. -->
            <input type="hidden" name="next" value="{{next}}">
            <!-- Campo oculto para armazenar o valor de 'next'. -->
            {{ form|crispy }}
            <!-- Renderização do formulário usando o filtro Crispy Forms. -->
            <button type="submit" class="botao">Entrar</button>
            <!-- Botão de submissão do formulário com classe 'botao'. -->
        </form>
        <p><a href="{% url 'password_reset' %}" class="button">Esqueceu a
                senha?</a> </p>
    </div>
</div>
<!-- Fim do bloco de conteúdo. -->
{% endblock %}