{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<h2 style="text-align: center;"><i class="fa-solid fa-book-open" style="color: #ff0000;"></i> Biblioteca</h2>
<div class="input-group">
    <div class="dropdown-biblioteca">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-cubes"
                style="color: #ff0000;"></i>Todos</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" data-filter="todos"><i class="fa-solid fa-cubes"
                    style="color: #ff0000;"></i>
                Todos</a>
            <a class="dropdown-item" href="#" data-filter="regras"><i class="fa-solid fa-cube"
                    style="color: #ff0000;"></i>
                Regras</a>
            <a class="dropdown-item" href="#" data-filter="fichas"><i class="fa-solid fa-cube"
                    style="color: #ff0000;"></i>
                Fichas</a>
            <a class="dropdown-item" href="#" data-filter="aventuras"><i class="fa-solid fa-cube"
                    style="color: #ff0000;"></i>
                Aventuras</a>
            <a class="dropdown-item" href="#" data-filter="classes_racas"><i class="fa-solid fa-cube"
                    style="color: #ff0000;"></i>
                Classes e Raças</a>
            <a class="dropdown-item" href="#" data-filter="magias_habilidades"><i class="fa-solid fa-cube"
                    style="color: #ff0000;"></i>
                Magias e Habilidades</a>
        </div>
    </div>
    <span class="input-group-prepend">
        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass" style="color: #ff0000;"></i></span>
    </span>
    <input type="text" class="form-control" id="searchInput" placeholder="Pesquisar...">
</div>

<!-- Área dos PDFs -->
<div class="row" id="pdfContainer">
    <!-- Loop através dos PDFs e cria um card para cada um -->
    {% for pdf in pdfs %}
    <div class="col-6 col-md-3 mb-4 pdf-card"
        data-filter="{% if 'regra' in pdf.name|lower %}regras{% elif 'ficha' in pdf.name|lower %}fichas{% elif 'aventura' in pdf.name|lower %}aventuras{% elif 'classe' in pdf.name|lower or 'raça' in pdf.name|lower %}classes_racas{% elif 'magia' in pdf.name|lower or 'habilidade' in pdf.name|lower %}magias_habilidades{% else %}outros{% endif %}">
        <div class="card-body text-center" data-toggle="tooltip" title="Baixar">
            <a href="{{ pdf.url }}" class="pdf-container" download>
                <i class="fas fa-file-pdf fa-5x text-danger pdf-icon"></i>
                <h6 class="card-title pdf-name" style="color: white; margin-top: 10px;">{{ pdf.name }}</h6>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
<script src="{% static 'js/biblioteca.js' %}"></script>
{% endblock %}