{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}
<!-- Bloco de conteúdo que estende o modelo base.html. -->

<div class="formularios">
    <!-- Container com a classe 'formularios'. -->

    <div class="card-body">
        <!-- Container para a seção de formulários com a classe 'card-body'. -->

        <h4 class="card-title text-center">Redefinir senha</h4>

        <p>Sua senha foi redefinida com sucesso. Você pode fazer login com a nova senha.</p>
        <a href="{% url 'login' %}" class="botao">Voltar para a página de login</a>

    </div>
</div>
<!-- Fim do bloco de conteúdo. -->
{% endblock %}