{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}
<!-- Bloco de conteúdo que estende o modelo base.html. -->

<div class="formularios">
    <!-- Container com a classe 'formularios'. -->

    <div class="card-body">
        <!-- Container para a seção de formulários com a classe 'card-body'. -->

        <h4 class="card-title text-center">Email Enviado com Sucesso</h4>
        <p>Um email de redefinição de senha foi enviado para o seu endereço de email. Por favor, verifique sua caixa de entrada e siga as instruções fornecidas para redefinir sua senha.</p>
    </div>
</div>
<!-- Fim do bloco de conteúdo. -->
{% endblock %}