{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}
<!-- Bloco de conteúdo que estende o modelo base.html. -->

<div class="formularios">
  <!-- Container com a classe 'formularios'. -->

  <div class="card-body">
    <!-- Container para a seção de formulários com a classe 'card-body'. -->

    <h3 class="card-title text-center">Redefinição de senha</h3>
    <br>
    <p class="text-sm font-medium text-gray-500">
      Esqueceu sua senha?<br> Informe seu e-mail abaixo, e nós te enviaremos um e-mail com instruções para configurar uma
      nova.
    </p>
    <form class="mt-8 space-y-6" action="." method="POST">
      {{form.as_p}}
      <p><button type="submit" class="botao">Enviar</button></p>
      
      {% csrf_token%}
    </form>
  </div>
</div>
<!-- Fim do bloco de conteúdo. -->
{% endblock %}