{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}
<!-- Bloco de conteúdo que estende o modelo base.html. -->

<div class="formularios">
    <!-- Container com a classe 'formularios'. -->

    
        <!-- Container para a seção de formulários com a classe 'card-body'. -->

        {% if validlink %}
        <h4 class="card-title text-center">Digite abaixo sua nova senha</h4>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="botao">Salvar nova senha</button>
        </form>
        {% else %}
        <h4 class="card-title text-center">Erro na Redefinição de Senha</h4>
        <p>Ocorreu um problema ao tentar redefinir sua senha. Por favor, verifique se o link utilizado para redefinir a
            senha é válido e tente novamente.</p>
        {% endif %}
    
</div>
<!-- Fim do bloco de conteúdo. -->
{% endblock %}